@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Rancho', cursive;
    color: white;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    @apply min-h-screen;

    background-image: url("../assets/dungeon-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}